@font-face{
    font-family: "Ubuntu";
    src: url("./font/UbuntuMono-Regular.tff");
}

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

body {
    width: auto;
    max-width: 600px;
    background-color: rgb(38, 37, 39);
    color: black;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Ubuntu", monospace;
}

h1, h2{
    margin-bottom: 0px !important;
}

p{
    margin: 0px !important;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vh;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.badgeland{
    text-align: center;
    color: antiquewhite;
    margin-bottom: 20px;
}

.badgeland img{
    width: 88px;
    height: 31px;
}

.box{
    /* background-image: radial-gradient(circle at bottom,rgb(216, 69, 43) 0%, rgb(255, 113, 43) 10%, rgba(255,171,48,1) 20%, rgba(185,166,164,1) 65%, rgb(118, 126, 199) 90%, rgba(43, 0, 122, 0.651) 100%);rgb(215, 96, 52) */
    background-color: antiquewhite;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-left: 5ch;
    padding-right: 5ch;
    padding-top: 2ch;
    margin-bottom: 10px;
    display: flex;
        flex-direction: column;
    height: auto;
    min-height: fit-content;
    width: auto;
    min-width: 480px;
}

.border{
    border: 5px solid;
    /* border-top: 0px solid; */
    border-color: rgb(126, 121, 121);
}

.indent{
    padding-left: 1ch;
}

.doubleindent{
    padding-left: 2ch;
}

.headerlink{
    color: rgb(92, 92, 92) !important;
    text-decoration: underline !important;
}

.intextlink{
    color:blueviolet !important;
    text-decoration: underline !important;
}

.bottom {
    bottom: 10px !important;
    text-align: center !important;
    margin-top: auto !important;
    padding-top: 5ch;
}

.leftlist{
    text-align: left;
    text-indent:11ch;
}

.centertext{
    text-align: center;
}

.small{
    font-size: smaller;
}

a:hover{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:visited, a:link{
    text-decoration: none;
    color: black;
}

.flicker{
    animation-name: flicker;
    margin: 25px;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes flicker{
    0% {
        opacity: 100%;
    }

    1% {
        opacity: 0%;
    }

    19% {
        opacity: 0%;
    }

    20% {
        opacity: 100%;
    }

    83%{
        opacity: 100%;
    }

    89%{
        opacity: 0%;
    }

    95%{
        opacity: 100;
    }

    99% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}